<div class="col-md-9 offset-2 my-5">

 
<h1>Cart</h1>

    <% @carts.each do |cart| %>
        <p>
        <strong>product:</strong>
        <%= cart.product.title %>
        </p>
        <p>
        <strong>description:</strong>
        <%= cart.product.description %>
        </p>
        <p>
        <strong>price:</strong>
        <%= cart.product.price %>
        </p>
        
         
        <%=form_with(model:cart, local:true) do |form|%>
            <%=form.label :quantity%>
            <%=form.number_field :quantity, {:name => 'quantity', :type => "integer"}%>
            <%=form.submit "Update"%>
            <%end%>        
       <br>
       <p>
       <%= link_to "Remove item", checkout_path(cart.product.id), method: "delete" %>
            </p>
       <br>
        <% end %>
        <br>
        <p>
        <strong>Total:</strong>
        <%= @total %>
        <strong>LE</strong>
        </p>
        <%= link_to 'Back', products_path %>  
         
        <% if @order %>  
        <%= form_tag("/orders/checkout", method: "get") do %>
            <%= hidden_field_tag(:id, @order) %>
             <%= submit_tag "Checkout" %>
         <% end %>
         <% end %>
    </div>
  


